<form class="example-form">
        <button mat-button (click)=openDialog() >OpenDialog</button>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="First Name" value={{customers[0].firstName}}>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Last Name" [value]="customers[0].lastName">
    </mat-form-field>

    <mat-radio-group name="Gender">
        <mat-label>Gender</mat-label>
        <mat-radio-button name="Gender" [value]="0" [checked]="'Male'== customers[0].gender ? 'true' : 'false'">Male
        </mat-radio-button>
        <mat-radio-button name="Gender" [value]="1" [checked]="'Female'== customers[0].gender ? 'true' : 'false'">Female
        </mat-radio-button>
    </mat-radio-group>

    <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Leave a comment" value={{customers[0].address}}></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Contact Type</mat-label>
        <mat-select>
            <mat-option [value]="0">Mobile</mat-option>
            <mat-option [value]="1">Email</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Category</mat-label>
        <mat-select matNativeControl required>
            <mat-option *ngFor="let cat of categories" [value]="cat.categoryId">
                {{cat.categoryName}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-selection-list #shoes>
        <mat-list-option *ngFor="let cat of categories">
            {{cat.categoryName}}
        </mat-list-option>
    </mat-selection-list>

    <p>
        Options selected: {{shoes.selectedOptions.selected.length}}
    </p>

    <mat-list>
        <h3 matSubheader>Folders</h3>
        <mat-list-item *ngFor="let cat of categories">
            <mat-icon matListIcon>folder</mat-icon>
            <h4 matLine>{{cat.categoryName}}</h4>
            <p matLine class="demo-2"> {{cat.categoryId}} </p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 matSubheader>Notes</h3>
        <mat-list-item *ngFor="let cat of categories">
            <mat-icon matListIcon>note</mat-icon>
            <h4 matLine>{{cat.categoryName}}</h4>
            <p matLine class="demo-2"> {{cat.categoryId}} </p>
        </mat-list-item>
    </mat-list>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Weight </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Symbol </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</form>